<div class="container-fluid" style="margin-top: 50px">
  <h1 class="text-lg-center">Create major</h1>
  <div class="row">
    <form class="col-md-6 offset-md-3 offset-md-3" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input class="form-control" id="name" name="name" [(ngModel)]="name">
      </div>
      <div class="mb-3">
        <label for="duration" class="form-label">Duration:</label>
        <input type="number" min="2" max="8" class="form-control" id="duration" name="duration" [(ngModel)]="duration">
      </div>
      <p class="text-danger">{{warning}}</p>
      <input type="submit" class="btn btn-primary col-md-12" value="Submit">
    </form>
  </div>
</div>
