<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="localStorageItem('TOKEN') && localStorageItem('STATE')">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Home</a>
    </li>
    <li class="nav-item" *ngIf="localStorageItem('TOKEN') && localStorageItem('STATE')">
      <a routerLink="exams/unfinished" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Registered exams</a>
    </li>
    <li class="nav-item" *ngIf="localStorageItem('TOKEN') && localStorageItem('STATE')">
      <a routerLink="exams/finished" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Finished exams</a>
    </li>
    <li class="nav-item" *ngIf="localStorageItem('TOKEN') && localStorageItem('STATE') && localStorageItem('ROLE') != 'ROLE_TEACHER'">
      <a routerLink="exams/application" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Exam registration</a>
    </li>
    <li class="nav-item" *ngIf="localStorageItem('TOKEN') && localStorageItem('STATE') && localStorageItem('ROLE') == 'ROLE_ADMIN'">
      <a routerLink="exam_schedules/create" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link">Add exam schedule</a>
    </li>
    <li class="nav-item" *ngIf="localStorageItem('TOKEN') && localStorageItem('STATE')">
      <a style="cursor: pointer" (click)="onLogoutClick()" class="nav-link">Logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2022 @Studenti-Protiv-Poslednjeg-Semestra</span>
  </div>
</footer>
