<div class="container-fluid" style="margin-top: 50px">
  <div class="row">
    <form class="col-md-6 offset-md-3 offset-md-3" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="firstName" class="form-label">Firstname:</label>
        <input class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Lastname:</label>
        <input class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" id="email" name="email" [(ngModel)]="email">
      </div>
      <div class="mb-3">
        <label for="ucn" class="form-label">UCN:</label>
        <input class="form-control" id="ucn" name="ucn" [(ngModel)]="ucn">
      </div>
      <p class="text-danger">{{warning}}</p>
      <input type="submit" class="btn btn-primary col-md-12" value="Submit">
    </form>
  </div>
</div>
