<div class="container-fluid" style="margin-top: 50px">
  <h2 class="text-center">Student enrollments</h2>
  <div id="pagination">
    <pagination-controls (pageChange)="onChangePage($event)"></pagination-controls>
  </div>
  <div id="pageSize">
    Items per page
    <select>
      <option *ngFor="let pageSize of pageSizes" [ngValue]="pageSize.id" (click)="onPageSizeChange(pageSize.size)">
        {{pageSize.size}}
      </option>
    </select>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Subject</th>
      <th>Grade</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let enrollment of enrollments | paginate: {
                                                      itemsPerPage: itemsPerPage,
                                                      currentPage: currentPage,
                                                      totalItems: totalElements }">
      <td>{{enrollment.subjectDTO.name}}</td>
      <td>{{enrollment.grade}}</td>
    </tr>
    </tbody>
  </table>
  <p>{{resultMessage}}</p>
</div>
